#a1 {
    background: url("/assets/a/derpwars1.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#a1:hover {
    background-size: 100% 100%;
}

#a2 {
    background: url("/assets/a/derpalone1.jpg");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#a2:hover {
    background-size: 100% 100%;
}
