#a1 {
    background: url("https://i9.ytimg.com/vi_webp/lKHtfl8aUkU/mqdefault.webp?v=636aa1b8&sqp=CPCf5qEG&rs=AOn4CLDnsultmZqL5h8jPVs40QL0nue0ag");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#a1:hover {
    background-size: 100% 100%;
}

#a2 {
    background: url("https://i9.ytimg.com/vi/A-gGXNXkBqg/mqdefault.jpg?v=63894c6f&sqp=CMik5qEG&rs=AOn4CLBxOqzXqavbpCvYDO6H_dULv3bcFQ");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#a2:hover {
    background-size: 100% 100%;
}