::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(20,20,20);
}

::-webkit-scrollbar-thumb {
    background: rgb(100,100,100);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: rgb(20,20,20);
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(10,10,10,0.9);
    backdrop-filter: blur(5px);
    position: fixed;
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#nav-img {
    position: fixed;
    width: 75px;
    left: 50px;
    transition: width 500ms, left 500ms;
}

#nav-img:hover {
    width: 100px;
    left: 37.5px;
}

#nav-links {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    user-select: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        135deg,
        green 0%,
        black 100%
    );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

#header-overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        transparent 0%,
        rgba(0,0,0,0.25) 100%
    );
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 25vmin 25vmin;
    z-index: 2;
}

#header-title {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    bottom: 45vh;
    font-family: monospace;
    user-select: none; 
    text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    z-index: 3;
}

#header-subtitle {
    position: absolute;
    font-size: 1vw;
    text-align: center;
    bottom: 35vh;
    user-select: none; 
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 3;
}

.info-section {
    width: 100%;
    height: 75vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-one {
    background-color: rgb(10,10,10);
}

#section-two {
    background-color: rgb(20,20,20);
}

#section-three {
    background-color: rgb(30,30,30);
}

.section-header {
    font-size: 30px;
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: letter-spacing 500ms;
}

.section-header:hover {
    letter-spacing: 1px;
}

.section-img {
    width: 256px;
    position: absolute;
    left: calc(25vw - 128px);
    transition: transform 500ms;
}

.section-img:hover {
    transform: rotate(-5deg);
}

.section-text {
    font-size: 15px;
    width: 25vw;
    height: 50vh;
    position: absolute;
    right: 25vw;
    top: 25vh;
    text-align: left;
}

.x {
    transition: letter-spacing 500ms;
}

.x:hover {
    letter-spacing: 1px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link {
    width: 75px;
    position: absolute;
    bottom: 100px;
    filter: invert(1);
    cursor: pointer;
    z-index: 1000000000000000;
}