body {
    background: black;
}



#m1 {
    background: url("/assets/m/campfire.jpg");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m1:hover {
    background-size: 100% 100%;
}

#m2 {
    background: url("/assets/m/cave.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m2:hover {
    background-size: 100% 100%;
}

#m3 {
    background: url("/assets/m/peace.jpg");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m3:hover {
    background-size: 100% 100%;
}

#m4 {
    background: url("/assets/m/galaxy.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m4:hover {
    background-size: 100% 100%;
}

#m5 {
    background: url("/assets/m/overworld.jpg");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m5:hover {
    background-size: 100% 100%;
}

#m6 {
    background: url("/assets/m/overworld2.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m6:hover {
    background-size: 100% 100%;
}

#m7 {
    background: url("/assets/m/overworld2chillstep.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m7:hover {
    background-size: 100% 100%;
}

#m8 {
    background: url("/assets/m/trial.webp");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m8:hover {
    background-size: 100% 100%;
}

#m9 {
    background: url("/assets/m/adventure.jpg");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
    text-align: center;
}

#m9:hover {
    background-size: 100% 100%;
}
