::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(20,20,20);
}

::-webkit-scrollbar-thumb {
    background: rgb(100,100,100);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: rgb(20,20,20);
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(10,10,10,0.9);
    backdrop-filter: blur(5px);
    position: fixed;
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#nav-img {
    position: fixed;
    width: 75px;
    left: 50px;
    transition: width 500ms, left 500ms;
}

#nav-img:hover {
    width: 100px;
    left: 37.5px;
}

#nav-links {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    user-select: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#header {
    width: 100%;
    height: 50vh;
    background: linear-gradient(
        135deg,
        purple 0%,
        black 100%
    );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

#header-overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        transparent 0%,
        rgba(0,0,0,0.25) 100%
    );
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 25vmin 25vmin;
    z-index: 2;
}

#header-title {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    bottom: 10vh;
    font-family: monospace;
    user-select: none; 
    text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    z-index: 3;
}

#section {
    width: 100%;
    height: 75vh;
    background-color: rgb(10,10,10);
    position: absolute;
}

.sub-section {
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 380px;
    height: 225px;
    background: rgb(50,50,50);
    position: relative;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(20,20,20);
    transition: box-shadow 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 10px 10px 10px rgb(20,20,20);
}

.button:hover > p {
    font-size: 30px;
}

.button p {
    width: 100%;
    height: 100%;
    font-size: 20px;
    transition: font-size 500ms;
    user-select: none;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}