#u1 {
    background: url("/assets/u/metronome.png");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
}

#u1:hover {
    background-size: 100% 100%;
}

#u2 {
    background: url("/assets/u/2dworldgen.png");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
}

#u2:hover {
    background-size: 100% 100%;
}
