#u1 {
    background: url("https://darkgforest.github.io/assets/metronome.png");
    background-clip: 100%;
    background-position: center;
    background-size: 150% 150%;
    transition: background-size 500ms;
}

#u1:hover {
    background-size: 100% 100%;
}
